{
  "gui" : {
    "panefeature": {
      "type": "panefeature",
      "anchor": "topRight",
      "keyDismissable": false,
      //"persistent" : true,
      "positionLocked": true
    },
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileBody" : "/interface/harddmg/emptiness.png"
    },
    "suffer": {
      "type": "progress",
      "position": [
        6,
        -60
      ],
      "size": [
        123,
        17
      ],
      "zlevel": 9,
      "progressSet": {
        "inner": "/interface/harddmg/harddmg.png",
        "type": "repeat"
      },
      "direction": "horizontal"
    }
  }
}