{
    "paneLayout" : {
      "panefeature" : {
        "type" : "panefeature",
        "anchor" : "topLeft"
      },
      "imgFrame" : {
        "type" : "image",
        "position" : [6, -28],
        "size" : [123, 17],
        "zlevel" : 9,
        "progressSet" : {
          "inner" : "/interface/harddmg/harddmg.png",
          "type" : "repeat"
        },
        "direction" : "horizontal"
      }
    }
  }
  