{
  "gui" : {
    "panefeature": {
      "type": "panefeature",
      "anchor": "topLeft",
      //"persistent" : true,
      "positionLocked": true
    },
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileBody" : "/interface/workaround/scriptpixel.png"
    }
  },
  "scripts" : ["/interface/workaround/losepixels.lua"]
}